*{
	box-sizing: border-box;
}
h1 {
	color: green;
}
.section-title{
	float: left;
	padding: 2px;
	margin: 1px solid black;
}
.row{
	width:100%;
}
@media (min-width: 992px){ /*Desktop*/
	.col-lg-4{
		float:left;
		width:33%;
	}
}
@media(min-width: 768px) and (max-width: 991px){ /*Teblet*/

}
@media(max-width: 767px){ /*Mobile*/

}